<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Django Static CSS Sheet -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <title>Administrator Dashboard</title>
</head>
<body>
    <!-- Top Navigation -->
    <p>
        <a href="/dashboard">Dashboard</a>
        <a href="/users/edit">Profile</a>
        <a href="/logout">Log off</a>
    </p>
    <fieldset>
        <legend>
            <h1>All Users</h1>
        </legend>
        <form action="/users/new" method="GET">
            <input type="submit" value="Add New User">
        </form>
        <!-- Success Messages -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <table>
        <tr>
            <th>ID:</th>
            <th>Name^:</th>
            <th>Email:</th>
            <th>Created:</th>
            <th>User Level:</th>
            <th>Actions:</th>
        </tr>
        <!-- use Django to iterate through items inside of `all_users` dictionary -->
        {% if all_users %}
            {% for user in all_users %}
                <tr>
                    <!-- ID -->
                    <td>{{user.id}}</td>
                    <!-- Full Name -->
                    <td><a href="/users/show/{{user.id}}" alt="{{user.first_name}} {{user.last_name}}">{{user.first_name}} {{user.last_name}}</a></td>
                    <!-- Email -->
                    <td>{{user.email}}</td>
                    <!-- Created  -->
                    <td>{{user.created_at}}</td>
                    <!-- User Level  -->
                    <td>{% if user.user_level == 0 %} Normal {% endif %}{% if user.user_level == 1 %} Admin {% endif %}</td>
                    <!-- Actions  -->
                    <td><a href="/users/edit/{{user.id}}">Edit</a> <a href="/users/edit/{{user.id}}/delete">Remove</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
    </fieldset>
</body>
</html>
