<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Django Static CSS Sheet -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <title>Admin Add New User</title>
</head>

<body>
    <!-- Top Navigation -->
    <p>
        <a href="/dashboard">Dashboard</a>
        <a href="/users/edit">Profile</a>
        <a href="/logout">Log off</a>
    </p>
    <!-- Admin Edit User -->
    <fieldset>
        <legend>
            <h2>Edit User {{user.first_name}} {{user.last_name}}</h2>
        </legend>
        <!-- Admin Edit User Error Messages -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "admin_edit_errors error" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Admin Edit User Form -->
        <form action="/users/edit" method="POST">
            <!-- Django-required CSRF Token (to prevent spoofing) -->
            {% csrf_token %}
            <label for="email"> Email:
                <input type="email" name="email" id="email" value={{user.email}}>
            </label>
            <label for="first_name"> First Name:
                <input type="text" name="first_name" id="first_name" value={{user.first_name}}>
            </label>
            <label for="last_name"> Last Name:
                <input type="text" name="last_name" id="last_name" value={{user.last_name}}>
            </label>
            <p>
                <label for="user_level"> User Level:
                    <select name="user_level" id="user_level">
                        <option value="0">Normal</option>
                        <option value="1">Admin</option>
                    </select>
                </label>
            </p>
            <input type="submit" value="Save">
        </form>
    </fieldset>
    <!-- Change Password -->
    <fieldset>
        <legend>
            <h2>Change Password</h2>
        </legend>
        <!-- Change Password Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "password_errors error" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Change Password Form -->
        <form action="/users/edit/password" method="POST">
            <!-- Django-required CSRF Token (to prevent spoofing) -->
            {% csrf_token %}
            <label for="password"> Password:
                <input type="password" name="password" id="password">
            </label>
            <label for="confirm_pwd"> Confirm Password:
                <input type="password" name="confirm_pwd" id="confirm_pwd">
            </label>
            <input type="submit" value="Update Password">
        </form>
    </fieldset>

    <p>
        <!-- Return To Dashboard -->
        <form action="/dashboard" method="GET">
            <input type="submit" value="Return To Dashboard">
        </form>
    </p>
</body>

</html>
