<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Django Static CSS Sheet -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <title>Admin Add New User</title>
</head>

<body>
    <a href="/dashboard/admin">Dashboard</a>
    <a href="/users/show/{{logged_in_user.id}}">Profile</a>
    <a href="/logout">Log off</a>
    <!-- Add User -->
    <fieldset>
        <legend>
            <h1>Add a New User</h1>
        </legend>
        <!-- Add User Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "reg_errors" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Registration Form -->
        <form action="/users/new" method="POST">
            <!-- Django-required CSRF Token (to prevent spoofing) -->
            {% csrf_token %}
            <label for="first_name"> First Name:
                <input type="text" name="first_name" id="first_name">
            </label>
            <label for="last_name"> Last Name:
                <input type="text" name="last_name" id="last_name">
            </label>
            <label for="email"> Email:
                <input type="email" name="email" id="email">
            </label>
            <label for="password"> Password:
                <input type="password" name="password" id="password">
            </label>
            <label for="confirm_pwd"> Confirm Password:
                <input type="password" name="confirm_pwd" id="confirm_pwd">
            </label>
            <input type="submit" value="Create">
        </form>
    </fieldset>
</body>

</html>
