<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Fav Icon -->
    <!--[if IE]><link rel="shortcut icon" href="{% static 'dashboard/images/fav.png' }"><![endif]-->
    <link rel="icon" href="{% static 'dashboard/images/fav.png' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <!-- Load jQuery -->
    <script type="text/javascript" src="{% static 'dashboard/bower_components/jquery/dist/jquery.js' %}"></script>
    <!-- Load Bootstrap JS -->
    <script type="text/javascript" src="{% static 'dashboard/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <title>User: {{show_user.first_name}} {{show_user.last_name}}</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Nav Header -->
            <div class="navbar-header">
                <!-- Mobile Button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Branding -->
                <a class="navbar-brand" href="/dashboard"><span class="glyphicon glyphicon-user"></span> User Dashboard</a>
            </div>
            <!-- Nav Collapsible Content -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- Left Hand Nav -->
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    <li><a href="/users/edit"><span class="glyphicon glyphicon-list-alt"></span> Profile</a></li>
                </ul>
                <!-- Right Hand Nav -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Off</a></li>
                    <li><a href="https://github.com/twknab" target="_blank"><span class="glyphicon glyphicon-new-window"></span> By Tim Knab</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Columns -->
    <div class="container margin-bottom">
        <!-- All Users -->
        <div class="row">
            <!-- User Information -->
            <div class="col-sm-12">
                <!-- Title -->
                <h1>{{show_user.first_name}} {{show_user.last_name}}</h1>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> <strong>Registered At:</strong> {{show_user.created_at}}</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> <strong>User ID:</strong> {{show_user.id}}</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> <strong>Email Address:</strong> {{show_user.email}}</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-bullhorn"></span> <strong>Description:</strong> {{show_user.description}}</li>
                </ul>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                        <div class="alert alert-success alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success!</strong> {{ message }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Leave Message -->
            <div class="col-sm-12">
                <!-- Title -->
                <h2>Message {{show_user.first_name}} {{show_user.last_name}}</h2>
                <hr>
                <!-- Message Form -->
                <form action="/users/show/{{show_user.id}}" method="POST" class="form-horizontal">
                    <!-- Django-required CSRF Token (to prevent spoofing) -->
                    {% csrf_token %}
                    <!-- Edit Profile Errors -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "message_errors error" %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> {{ message }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Message -->
                    <p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></span>
                            <textarea name="description" id="description" rows="3" class="form-control input-lg" placeholder="Enter a message for {{show_user.first_name}} {{show_user.last_name}}"></textarea>
                        </div>
                    </p>
                    <!-- Post Message -->
                    <p>
                        <button type="submit" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-pushpin"></span> Post Message</button>
                    </p>
                </form>
            </div>
            <!-- Current Messages -->
            {% if user_messages %}
            <div class="col-sm-12">
                <h2>Messages</h2>
                <hr>
                    <!-- Message -->
                    {% for message in user_messages %}
                        <div class="well">
                            <p><span class="glyphicon glyphicon-pushpin"></span> <strong><a href="/users/show/{{message.sender.id}}">{{message.sender.first_name}} {{message.sender.last_name}}</a></strong>, <em>{{message.created_at|timesince}} ago</em>, wrote:</p>
                            <p>{{message.description}}</p>
                        </div>
                        <!-- Comments -->
                        <div class="comments">
                            <!-- Comment -->
                            {% if message.comment.all %}
                                {% for message in message.comment.all %}
                                    <div class="well">
                                        <p><span class="glyphicon glyphicon-pushpin"></span> <strong><a href="/users/show/{{message.sender.id}}">{{message.sender.first_name}} {{message.sender.last_name}}</a></strong>, <em>{{message.created_at|timesince}} ago</em> wrote:</p>
                                        <p>{{message.description}}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- New Comment Form -->
                            <form action="/users/show/{{show_user.id}}/comment" method="POST" class="form-horizontal">
                                <!-- Django-required CSRF Token (to prevent spoofing) -->
                                {% csrf_token %}
                                <!-- Comment Errors -->
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == "comment_errors error" %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Error!</strong> {{ message }}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <!-- Message ID is passed in hidden input -->
                                <input type="hidden" name="message_id" value="{{message.id}}">
                                <!-- Comment -->
                                <p>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></span>
                                        <textarea name="desc_{{message.id}}" id="desc_{{message.id}}" rows="3" class="form-control input-lg" placeholder="Enter a comment"></textarea>
                                    </div>
                                </p>
                                <!-- Comment Button -->
                                <p>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-comment"></span> Post Comment</button>
                                </p>
                            </form>
                        </div>
                    {% endfor %}
                <hr>
                <form>
                    <!-- Cancel Button -->
                    <p>
                        <button type="submit" formaction="/dashboard" formmethod="GET" class="btn btn-lg btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span> Return to Dashboard</button>
                    </p>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
