<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <!-- Load jQuery -->
    <script type="text/javascript" src="{% static 'dashboard/bower_components/jquery/dist/jquery.js' %}"></script>
    <!-- Load Bootstrap JS -->
    <script type="text/javascript" src="{% static 'dashboard/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <title>User: {{show_user.first_name}} {{show_user.last_name}}</title>
</head>
<body>
    <!-- Top Navigation -->
    <p>
        <a href="/dashboard">Dashboard</a>
        <a href="/users/edit">Profile</a>
        <a href="/logout">Log off</a>
    </p>
    <!-- User Profile Data -->
    <fieldset>
        <legend>
            <h1>{{show_user.first_name}} {{show_user.last_name}}</h1>
        </legend>
        <table>
        <ul>
            <li>Registered at: {{show_user.created_at}}</li>
            <li>User ID: {{show_user.id}}</li>
            <li>Email Address: {{show_user.email}}</li>
            <li>Description: {{show_user.description}}</li>
        </ul>
    </fieldset>
    <!-- Leave a Message -->
    <h2>Leave a message for {{show_user.first_name}}</h2>
    <form action="/users/show/{{show_user.id}}" method="POST">
        {% csrf_token %}
        <!-- Message Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "message_errors error" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <input type="submit" value="Post">
    </form>
    <!-- Current Messages -->
    {% if user_messages %}
        <!-- Message -->
        {% for message in user_messages %}
            <div>
                <p><a href="/users/show/{{message.sender.id}}">{{message.sender.first_name}} {{message.sender.last_name}}</a> wrote ({{message.created_at|timesince}} ago):</p>
                <p>{{message.description}}</p>
                <!-- Comments -->
                <div class="comments">
                    <!-- Comment -->
                    {% if message.comment.all %}
                        {% for message in message.comment.all %}
                            <p><a href="/users/show/{{message.sender.id}}">{{message.sender.first_name}} {{message.sender.last_name}}</a> wrote ({{message.created_at|timesince}} ago):</p>
                            <p>{{message.description}}</p>
                        {% endfor %}
                    {% endif %}
                    <!-- New Comment -->
                    <form action="/users/show/{{show_user.id}}/comment" method="POST">
                        {% csrf_token %}
                        <!-- Comment Errors -->
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == "comment_errors error" %}
                                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Message ID is passed in hidden input -->
                        <input type="hidden" name="message_id" value="{{message.id}}">
                        <!-- Comment Text -->
                        <textarea name="desc_{{message.id}}" id="desc_{{message.id}}" cols="30" rows="10"></textarea>
                        <!-- Post Button -->
                        <input type="submit" value="Post">
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>
