<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Django Static CSS Sheet -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <title>Admin Add New User</title>
</head>

<body>
    <!-- Top Navigation -->
    <p>
        <a href="/dashboard">Dashboard</a>
        <a href="/users/edit">Profile</a>
        <a href="/logout">Log off</a>
    </p>
    <!-- Edit Profile -->
    <fieldset>
        <legend>
            <h2>Edit Profile for {{user.first_name}} {{user.last_name}}</h2>
        </legend>
        <!-- Edit Profiel Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "profile_errors error" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Edit Information Form -->
        <form action="/users/edit" method="POST">
            <!-- Django-required CSRF Token (to prevent spoofing) -->
            {% csrf_token %}
            <label for="email"> Email Address:
                <input type="email" name="email" id="email" value={{user.email}}>
            </label>
            <label for="first_name"> First Name:
                <input type="text" name="first_name" id="first_name" value="{{user.first_name}}">
            </label>
            <label for="last_name"> Last Name:
                <input type="text" name="last_name" id="last_name" value="{{user.last_name}}">
            </label>
            <input type="submit" value="Save">
        </form>
    </fieldset>
    <!-- Change Password -->
    <fieldset>
        <legend>
            <h2>Change Password</h2>
        </legend>
        <!-- Change Password Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "password_errors error" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Change Password Form -->
        <form action="/users/edit/password" method="POST">
            <!-- Django-required CSRF Token (to prevent spoofing) -->
            {% csrf_token %}
            <label for="password"> Password:
                <input type="password" name="password" id="password">
            </label>
            <label for="confirm_pwd"> Confirm Password:
                <input type="password" name="confirm_pwd" id="confirm_pwd">
            </label>
            <input type="submit" value="Update Password">
        </form>
    </fieldset>
    <!-- Edit Description -->
    <fieldset>
        <legend>
            <h2>Edit Description</h2>
        </legend>
        <!-- Description Errors -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "description_errors error" %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Edit Description Form -->
        <form action="/users/edit/description" method="POST">
            <!-- Django-required CSRF Token (to prevent spoofing) -->
            {% csrf_token %}
            <label for="description">
                <textarea name="description" id="description" cols="30" rows="10">{{user.description}}</textarea>
            </label>
            <input type="submit" value="Save">
        </form>
    </fieldset>

    <p>
        <!-- Return To Dashboard -->
        <form action="/dashboard" method="GET">
            <input type="submit" value="Return To Dashboard">
        </form>
    </p>

</body>

</html>
