<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Load Access to Django Static Files -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <!-- Load jQuery -->
    <script type="text/javascript" src="{% static 'dashboard/bower_components/jquery/dist/jquery.js' %}"></script>
    <!-- Load Bootstrap JS -->
    <script type="text/javascript" src="{% static 'dashboard/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <title>Admin Add New User</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Nav Header -->
            <div class="navbar-header">
                <!-- Mobile Button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Branding -->
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-user"></span> User Dashboard</a>
            </div>
            <!-- Nav Collapsible Content -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- Left Hand Nav -->
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    <li class="active"><a href="/users/edit"><span class="glyphicon glyphicon-list-alt"></span> Profile</a></li>
                </ul>
                <!-- Right Hand Nav -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Off</a></li>
                    <li><a href="https://github.com/natureminded" target="_blank"><span class="glyphicon glyphicon-new-window"></span> By Tim Knab</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Columns -->
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-xs-12">
                <h2>Edit Profile for {{user.first_name}} {{user.last_name}}</h2>
                <hr>
            </div>
        </div>

        <!-- Edit Profile -->
        <div class="row">
            <div class="col-xs-12">
                <!-- Edit Profile Information Form -->
                <form action="/users/edit" method="POST" class="form-horizontal">
                    <!-- Django-required CSRF Token (to prevent spoofing) -->
                    {% csrf_token %}
                    <!-- Edit Profile Errors -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "profile_errors error" %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> {{ message }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Email -->
                    <p>
                        <div class="input-group">
                            <span class="input-group-addon">User Email:</span>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" name="email" id="email" value="{{user.email}}">
                        </div>
                    </p>
                    <!-- First Name -->
                    <p>
                        <div class="input-group">
                            <span class="input-group-addon">First Name:</span>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="first_name" id="first_name" value="{{user.first_name}}">
                        </div>
                    </p>
                    <!-- Last Name -->
                    <p>
                        <div class="input-group">
                            <span class="input-group-addon">Last Name:</span>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="last_name" id="last_name" value="{{user.last_name}}">
                        </div>
                    </p>
                    <!-- Update Profile  -->
                    <p>
                        <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                    </p>
                </form>
            </div>
        </div>

        <!-- Change Password -->
        <div class="row">
            <div class="col-sm-6">
                <!-- Title -->
                <h2>Update Password</h2>
                <hr>
                <!-- Update Password Form -->
                <form action="/users/edit/password" method="POST" class="form-horizontal">
                    <!-- Django-required CSRF Token (to prevent spoofing) -->
                    {% csrf_token %}
                    <!-- Password Errors -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "password_errors error" %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> {{ message }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Password -->
                    <p>
                        <div class="input-group">
                            <span class="input-group-addon">Password:</span>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                    </p>
                    <!-- Confirm Password -->
                    <p>
                        <div class="input-group">
                            <span class="input-group-addon">Confirm:</span>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" name="confirm_pwd" id="confirm_pwd">
                        </div>
                    </p>
                    <!-- Save Password -->
                    <p>
                        <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-floppy-save"></span> Update Password</button>
                    </p>
                </form>
            </div>
            <div class="col-sm-6">
                <!-- Title -->
                <h2>Edit Description</h2>
                <hr>
                <!-- Update Password Form -->
                <form action="/users/edit/description" method="POST" class="form-horizontal">
                    <!-- Django-required CSRF Token (to prevent spoofing) -->
                    {% csrf_token %}
                    <!-- Description Errors -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "description_errors error" %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> {{ message }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Description -->
                    <p>
                        <div class="input-group">
                            <span class="input-group-addon">Description:</span>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-bullhorn"></i></span>
                            <textarea name="description" id="description" rows="3" class="form-control">{{user.description}}</textarea>
                        </div>
                    </p>
                    <!-- Save Description -->
                    <p>
                        <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                    </p>
                </form>
            </div>
        </div>

        <!-- Cancel -->
        <div class="row">
            <div class="col-xs-12">
                <form action="/dashboard" method="GET">
                    <button type="submit" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span> Cancel</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>
